@import "main";

@mixin badges-colors($font) {
  color: $font;

  img {
    width: em(30);
    border-radius: 5%;
  }
}

.badge {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vh;
  margin: 0 auto 0 0;
  padding: 2vh 0 4vh 2vh;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-size: em(18);
  font-weight: 700;
}

.badge-light {
  @include badges-colors($fontDark);
}

.badge-dark {
  @include badges-colors($fontWhite);
}