$fontDark: #212427;
$fontWhite: #ffffff;
$fontWhiteBlue: #f8fbff;
$shadowLight: #777777;
$shadowDark: #212427;
$bgPageLight: radial-gradient(circle, hsla(51, 100%, 97%, 1) 0%, hsla(254, 100%, 94%, 1) 100%);
$bgPageDark: radial-gradient(circle, hsla(226, 31%, 27%, 1) 0%, hsla(226, 28%, 17%, 1) 100%);

$blueMain: #004195;
$bgSuccess: #45ab1d;
$bgError: #ff4242;