@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap');

$mainFont: "Poppins", sans-serif;
$headerFont: "Rubik Vinyl", cursive;